.bg-img{
    min-height: 100vh;
   width: 100%;
   background: url('../../../src/assets/img/back4.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   padding-bottom: 20px;
   padding-top: 20px;
   }