<form action="" class="card card-body" #form="ngForm" (ngSubmit)='loginData(form)'>
    <div class="col-md-4 offset-4 mt-2 mb-2 card card-body">
        <h1 style="background-color: darkgray;">Please Login</h1> <br> <br>


        <div class="from-froup">
            <input type="email" name="email" id="email" class="form-control" #email='ngModel' ngModel
                placeholder="Enter Email" required>
            <div *ngIf="email.touched && email.invalid">
                <p *ngIf='email.errors.required' class="alert alert-danger">This field is required </p>
            </div>
        </div>

        <br> <br>
        <div class="from-froup">
            <input type="password" name="password" id="password" class="form-control" #password='ngModel' ngModel
                placeholder="Enter password" required>
            <div *ngIf="password.touched && password.invalid">
                <p *ngIf='password.errors.required' class="alert alert-danger">This field is required </p>
            </div>
        </div>
        <br> <br>

        <div class="form-group">
            <button class="btn btn-primary float-right" type="submit" [disabled]='form.invalid'>Login</button>
        </div>



    </div>
</form>