<form action="" class="card card-body" [formGroup]='form' (ngSubmit)='loginData(form)'>
    <div class="col-md-4 offset-4 mt-2 mb-2 card card-body">
        <h1 style="background-color: darkgray;">Add Movie</h1> <br> <br>


        <div class="form-group">
            <input type="text" name="text1" id="text1" class="form-control" formControlName='text1'
                placeholder="movie title" required>
            <div *ngIf="text1.touched && text1.invalid">
                <p *ngIf='text1.errors.required' class="alert alert-danger">This field is required </p>
            </div>
        </div>

        <br>

        <div class="form-group">
            <input type="url" name="url" id="url" class="form-control" formControlName='url' placeholder="movie img url"
                required>
            <div *ngIf="url.touched && url.invalid">
                <p *ngIf='url.errors.required' class="alert alert-danger">This field is required </p>
            </div>
        </div>
        <br>

        <div class="form-group">
            <textarea name="t1" id="t1" cols="10" rows="5" placeholder="movie description" class="form-control"
                required> desc</textarea>
            <div *ngIf="t1.touched && t1.invalid">
                <p *ngIf='t1.errors.required' class="alert alert-danger">This field is required </p>
            </div>
        </div>


        <div class="form-group">
            <button class="btn btn-primary float-right" type="submit" [disabled]='form.invalid'>Add</button>
        </div>



    </div>
</form>