<div class="col-md-6 offset-4 card card-body">
    <form action="" #form='ngForm'>
        <div class="form-group">
            <input type="text" name='name' id='name' class="form-control" placeholder="candidate name"
             #name='ngModel' ngModel required>

        </div>
        <div class="form-group">
                <input type="text" name='year' id='year' class="form-control" placeholder="year of experience"
                 #name='ngModel' ngModel required>
         </div>
         <div>
         <label for="skills">skills</label><br>
         <input type="radio" name="java" id="java">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="radio" name="angular" id="angular">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="radio" name="sql" id="sql">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="radio" name="spring" id="spring">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
         </div> <br><br>
        
         <div class="form-group">
            <input type="text" name='CCTC' id='CCTC' class="form-control" placeholder="CCTC"
             #name='ngModel' ngModel required>

        </div>
        <div class="form-group">
            <input type="text" name='ECTC' id='ECTC' class="form-control" placeholder="ECTC"
             #name='ngModel' ngModel required>

        </div>
        <div class="form-group">
            <input type="text" name='relocate' id='relocate' class="form-control" placeholder="Ready to relocate"
             #name='ngModel' ngModel required>

        </div>

        <button type="submit" class="btn btn-success float-right">schudule interviw</button>     
             
             
         
    </form>

</div>
