<!-- <h1>Header Component</h1> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/r">register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/property-binding">Property binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-binding">event binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/two-way">two-way binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ng-for">ng for </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ng-switch">ng switch </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/f1">form1 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/f2">form2 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/f3">form3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/f4">form4 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reactive-form">Reactive-form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/parent">parent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/comment-details">comment details</a>
            </li>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ng-if">login</a>
                </li>
            </ul>



        </ul>
        <!-- <form class="form-inline my-2 my-lg-0"> -->
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <!-- <a href="#" class="form-control mr-sm-2">Login</a> -->
        <!-- <a href="#" class="btn btn-outline-success my-2 my-sm-0">Regster</a> -->

        <!-- </form> -->
    </div>
</nav>