<div class="container">
    <div class="row">

        <div class=" col-md-4   card card-body mt-2 mb-2" *ngFor="let new of news">
            <img src="{{new.urlToImage}}" alt="">
            <h1>{{new.title}}</h1>
        </div> &nbsp; &nbsp;

        <div class=" col-md-4   card card-body mt-2 mb-2" *ngFor="let new of news">
            <img src="{{new.urlToImage}}" alt="">
            <h1>{{new.title}}</h1>
        </div> &nbsp; &nbsp;

        <div class=" col-md-4  card card-body mt-2 mb-2" *ngFor="let new of news">
            <img src="{{new.urlToImage}}" alt="">
            <h1>{{new.title}}</h1>
        </div>
    </div>
</div>